.img-thumb{
    width: 48px; 
    height: 48px; 
}

.porcentagem{
    font-size: 15px !important;
}

li.nav-header{
    background: linear-gradient(#ED2C0C, #9C1D08);
}

div#wrapper, .progress-bar, a.btn-primary, .btn-lg, .btn-lg-primary, .landing-page .btn-primary, .landing-page li.pricing-title, .landing-page .social-icon a {
    background:  #9C1D08;
    
}


.landing-page .testimonials{
    background: rgba(155, 0, 0, 0.3) url(../img/landing/avatar_all.png);

}

a.btn-primary, .label-primary{
    background: #9C1D08;
}
